.usersContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.usersContainer > div {
  text-align: center;
}

.centerText {
  text-align: center;
}
