.pageContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  .container {
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 480px;
    height: 160px;
    background-color: var(--dialog);
    border: 2px solid var(--border);
    border-radius: 8px;
    z-index: 2;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .body,
    .footer {
      margin-top: 24px;
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
    }
  }
}
