.container {
  width: 290px;
  min-width: 290px;
  height: 100vh;
  background-color: var(--sidebar);
  border-right: 1px solid var(--border);
  padding: 1rem;
  position: sticky;
  top: 0;
  transition: background-color 500ms linear;
  @media (max-width: 768px) {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    .menuItem {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
      transition: background-color 500ms linear;
      &:hover {
        background-color: var(--hover);
      }
      .icon {
        margin-right: 0.5rem;
      }
      .label {
        font-size: 1rem;
        font-weight: 200;
        color: #a7a7a7;
      }
    }
  }
}
