:root {
  --small-green-circle: #78eea6;
  --main-accent-color: #9b45e4;
  --secondary-accent-color: #e13a9d;
}

.pageContainer {
  max-width: 1200px;
  margin: 0 auto;

  img {
    display: inline-block;
    max-width: 100%;
  }
}
