.headOptionsContainer {
  display: flex;
  justify-content: space-between;
}

.headOptions {
  color: #ccc;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
}

.marginTop24 {
  margin-top: 24px;
}
