.box {
  grid-column: span 4;
  margin-bottom: 48px;
  background-color: #f3f3f3;
  padding: 24px;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-column: span 12;
    background-color: #f3aaf3;
  }
  .orderValue {
    font-size: 2rem;
  }
}
