@keyframes example {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.modalContainer {
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: fixed;
  inset: 0;
  background-color: #66666681;
  display: flex;
  justify-content: right;
  z-index: 999;
  .modalBody {
    background-color: var(--modal);
    border: 1px solid var(--border);
    overflow-y: auto;
    padding: 48px;
    transition: 0.5s;
    .header {
      margin-bottom: 24px;
      text-align: right;
    }
  }
}

.primary {
  @extend .modalContainer;
  .modalBody {
    max-width: 800px;
    width: 100%;
  }
}

.secondary {
  @extend .modalContainer;
  .modalBody {
    max-width: 500px;
    width: 100%;
  }
}
