.modalContainer {
  position: fixed;
  inset: 0;
  background-color: #f3f3f321;
  display: flex;
  justify-content: right;
  z-index: 999;
  .modalBody {
    background-color: var(--modal);
    border: 1px solid var(--border);
    overflow-y: auto;
    padding: 48px;
    transition: 0.5s;
    .header {
      margin-bottom: 24px;
      text-align: right;
    }
  }
}

.primary {
  @extend .modalContainer;
  .modalBody {
    max-width: 800px;
    width: 100%;
  }
}

.secondary {
  @extend .modalContainer;
  .modalBody {
    max-width: 500px;
    width: 100%;
  }
}
