.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  @media (max-width: 768px) {
    max-width: 300px;
    max-height: 400px;
  }
  .title {
    margin-bottom: 24px;
    font-weight: 600;
    color: #5c5c5c;
  }
  .subtitle {
    margin-bottom: 24px;
  }
}
