.container {
  padding: 1em;
  border-radius: 0.8em 0.8em 0 0;
  background-color: #fefefe;
  position: relative;
  box-sizing: border-box;
  width: 23%;
  cursor: pointer;

  .userProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .imageProfile {
      .image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }

    .textProfile {
      .cardName {
        margin: 0.8rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #6f6f6f;
      }
      .cardText {
        margin: 0.8rem;
        font-size: 0.8rem;
        font-weight: 400;
        color: #999;
        text-align: left;
      }
    }

    .cardAction {
      padding: 8px;
    }
  }
}
