.button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 140px;
  width: 100%;
}

.one {
  @extend .button;
  background-color: #ea4c89;

  &:hover,
  &:focus {
    background-color: #f082ac;
  }
}

.two {
  @extend .button;
  background-color: #4c96ea;

  &:hover,
  &:focus {
    background-color: #82bff0;
  }
}

.three {
  @extend .button;
  background-color: #4cea61;

  &:hover,
  &:focus {
    background-color: #c1ffce;
  }
}

.four {
  @extend .button;
  background-color: #ea5f4c;

  &:hover,
  &:focus {
    background-color: #ffaea3;
  }
}

.five {
  @extend .button;
  background-color: #ffaea3;

  &:hover,
  &:focus {
    background-color: #ea5f4c;
  }
}
