* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background: var(--background);
}

body > iframe {
  pointer-events: none;
}

h1 {
  margin-top: 0px;
}

.App {
  padding: 24px;
}
