:root {
  --background: #ffffff;
  --header: #ffffff;
  --sidebar: #f3f2ef;
  --filters: #ffff;
  --modal: #ffff;
  --card: #ffff;
  --dialog: #ffff;
  --border: #f3f2ef;
  --box: #f3f2ef;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}



